@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
  text-align: center;
  margin-top: 100px;
  font-family: 'Maven Pro', sans-serif;
}

.logout-btn {
  border: none;
  background-color: white;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;
}

#view {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
}
// card css bellow
.card {
  width: 300px;
  margin: 3px;
}

#termTitle {
  padding-top: 0px;
  margin-top: -4px;
  padding-bottom: -3px;
  margin-bottom: -5px;
 }

 #techTitle {
  padding-top: 0px;
  margin-top: -4px;
  padding-bottom: -3px;
  margin-bottom: -5px;
 }
// sign in page bellow
#signin-page {
  color: white;
}

#welcome-text {
  color: white;
}
// loggin button
.loginBtn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 6px;
  padding: 6px;
  font-weight: 500;
  width: 130px;
}

.loginBtn:hover {
  width: 140px;
}

.logout-btn {
  background-color: rgba(0,0,0,.001);
}


 //searchbar 
 #tech-search {
  display: flex;
  padding: 6px 10px;
  width: 325px;
 }

 #term-search {
  display: flex;
  padding: 6px 10px;
  width: 325px;
 }

 #search-span {
  margin-right: 13px;
 }

// add form buttons bellow
.formBtn {
  background-color: white;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  padding: 5px;
  font-weight: 500;
  width: 100px;
}

.formBtn:hover {
  width: 110px;
  transition: 0.2s;
}
 // card buttons bellow
.techEdit {
  border: solid white 1px;
}

.techEdit:hover {
  border: solid black 1px;
  transition: 0.2s;
}

.techDelete {
  border: solid white 1px;
}

.techDelete:hover {
  border: solid black 1px;
  transition: 0.2s;
}

.termEdit {
  border: solid white 1px;
}

.termEdit:hover {
  border: solid black 1px;
  transition: 0.2s;
}

.termDelete {
  border: solid white 1px;
}

.termDelete:hover {
  border: solid black 1px;
  transition: 0.2s;
}

.card-body {
  display: flex;
  flex-direction: column;
}

 #term-card-btns {
  margin-top: auto;
 }

 #tech-card-btns {
  margin-top: auto;
 }
// form css below

.formDesc {
  height: 180px;
}

// div from oddmBuilder
#form-container {
  margin: auto;
  justify-content: center;
  color: white;
}

// on form elements
 .formBar {
  border: none;
  width: 500px;
  max-width: 800px;
 }

 .titleBar {
  margin-bottom: -10px;
 }

 .descBar {
  margin-bottom: 0px;
 }

 ::placeholder {
  text-align: center;
 }

 .formSubmit {
  border: none;
  border-radius: 4px;
  color: black;
  background-color: white;
  height: 33px;
  width: 70px;
  margin-top: 10px;
 }

 .formSubmit:hover {
  width: 80px;
  transition: 0.2s;
 }

 input {
  padding: 6px;
  margin-bottom: -5px;
  border-radius: 4px;
  border-radius: none;
 }

 textarea {
  border-radius: 4px;
  resize: none;
 }
