@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


body {
  background-color: black;
  text-align: center;
  margin-top: 100px;
}
 #logout-nav {
  justify-content: right;
 }

.logout-btn {
  border: none;
  background-color: white;
}

#main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 100px;
  align-content: center;
}

#view {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 5px;
}

#signin-page {
  color: white;
}

#welcome-text {
  color: white;
}

.loginBtn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 6px;
  padding: 6px;
  font-weight: 500;
  width: 130px;
}

.loginBtn:hover {
  background-color: #bfbfbf;
  width: 140px;
  transition: 0.4s ease-in-out;
}

.formBtn {
  background-color: white;
  border: none;
  border-radius: 6px;
  padding: 5px;
  font-weight: 500;
  width: 100px;
}

.formBtn:hover {
  background-color: #bfbfbf;
  width: 107px;
  transition: 0.2s ease-in-out;
}
